/* CSS Document */
/*--
  *Autor: Daniel Moreira para +ZKreations
  *fecha de desarrollo: 15/08/2014
  *Ultima actualización: 27/10/2014
  *Version: 1.52
  *Under Creative Commons Attribution 3.0 License 
  *http://creativecommons.org/licenses/by/3.0/
--*/
div.sheet-slider {
    background-color: #444;
    font-size: 16px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

/*transiciones*/
div.sheet-slider > div.conten {
   transition: margin-left 0.76s cubic-bezier(0.54, 0, 0.1, 1) 0s;
   -moz-transition: margin-left 0.76s cubic-bezier(0.54, 0, 0.1, 1) 0s;
   -ms-transition: margin-left 0.76s cubic-bezier(0.54, 0, 0.1, 1) 0s;
   -o-transition: margin-left 0.76s cubic-bezier(0.54, 0, 0.1, 1) 0s;
   -webkit-transition: margin-left 0.76s cubic-bezier(0.54, 0, 0.1, 1) 0s;
}
div.text {
   transition: opacity 0.5s ease 0.6s, padding-top 0.5s ease 0.6s;
   -moz-transition: opacity 0.5s ease 0.6s, padding-top 0.5s ease 0.6s;
   -webkit-transition: opacity 0.5s ease 0.6s, padding-top 0.5s ease 0.6s;
   -o-transition: opacity 0.5s ease 0.6s, padding-top 0.5s ease 0.6s;
   -ms-transition: opacity 0.5s ease 0.6s, padding-top 0.5s ease 0.6s;
}
/*transiciones responsive*/
.sh-arrows, .sh-btns, .text > span, .text h3 {
   transition: all 0.5s ease-out 0s;
   -moz-transition: all 0.5s ease-out 0s;
   -webkit-transition: all 0.5s ease-out 0s;
   -o-transition: all 0.5s ease-out 0s;
   -ms-transition: all 0.5s ease-out 0s;
}

/**/
/*Reset css (slider)*/
div.sheet-slider input {display: none;}
div.sheet-slider div.tab img {width: 100%;}
div.sheet-slider div.tab {line-height:0;display:block;}
div.sheet-slider div.text a {color: #0ab4d8;font-weight: bold;text-decoration: none;}
div.sheet-slider div.text a:hover {color: #29d3f7;text-decoration: none;}
div.text, .text h3, .text span {color:#fff;}
div.sheet-slider, .sh-btns label, div.tab img, div.text {
  -webkit-user-select: none;
  -moz-user-select: none;
/*no hay soporte para las siguientes
   propiedades pero igual las incluyo*/
  -ms-user-select: none;
  -o-user-select: none;
/*box-sizing*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/**/

div.sheet-slider .sh-btns {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 90%;
    z-index: 1;
}

div.sheet-slider .sh-btns label {
    background-clip: content-box;
    background-color: rgba(255, 255, 255, 0.5);
  background-origin: content-box;
    cursor: pointer;
    display: block;
    float: left;
    height: 6px;
    padding-right: 2px;
    width: 100%;
}
div.sheet-slider .sh-btns label:last-child {padding: 0;}
div.sheet-slider .sh-btns label:hover {background-color: rgba(255, 255, 255, 0.76);}

div.sheet-slider.n2 .sh-btns label {width: 50%;}
div.sheet-slider.n3 .sh-btns label {width: 33.333%;}
div.sheet-slider.n4 .sh-btns label {width: 25%;}
div.sheet-slider.n5 .sh-btns label {width: 20%;}
div.sheet-slider.n6 .sh-btns label {width: 16.666%;}
div.sheet-slider.n7 .sh-btns label {width: 14.285%;}
div.sheet-slider.n8 .sh-btns label {width: 12.5%;}
div.sheet-slider.n9 .sh-btns label {width: 11.111%;}
div.sheet-slider.n10 .sh-btns label {width: 10%;}
div.sheet-slider.n11 .sh-btns label {width: 9.090%;}
div.sheet-slider.n12 .sh-btns label {width: 8.333%;}

div.sheet-slider div.tab .text {
    left: 0;
    line-height: 1.4;
    opacity: 0;
    padding-left: 38px;
    padding-top: 60px;
  -webkit-font-smoothing: antialiased;
    position: absolute;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.16);
    top: 0;
  max-width:500px;
}
div.sheet-slider div.tab .text > span {font-size:1em;}

div.sheet-slider div.tab .text h3 {font-size: 2.12em;margin: 0;overflow: inherit;text-overflow: inherit;}
div.sheet-slider div.conten {overflow: hidden;position: relative;width: 100%;z-index: 1;}
div.sheet-slider div.conten div.tab {float: left;position: relative;width: 100%;}

div.sheet-slider.n2 div.conten {width:200%;}
div.sheet-slider.n3 div.conten {width:300%;}
div.sheet-slider.n4 div.conten {width:400%;}
div.sheet-slider.n5 div.conten {width:500%;}
div.sheet-slider.n6 div.conten {width:600%;}
div.sheet-slider.n7 div.conten {width:700%;}
div.sheet-slider.n8 div.conten {width:800%;}
div.sheet-slider.n9 div.conten {width:900%;}
div.sheet-slider.n10 div.conten {width:1000%;}
div.sheet-slider.n11 div.conten {width:1100%;}
div.sheet-slider.n12 div.conten {width:1200%;}

div.sheet-slider.n2 div.conten div.tab {width:50%;}
div.sheet-slider.n3 div.conten div.tab {width:33.333%;}
div.sheet-slider.n4 div.conten div.tab {width:25%;}
div.sheet-slider.n5 div.conten div.tab {width:20%;}
div.sheet-slider.n6 div.conten div.tab {width:16.666%;}
div.sheet-slider.n7 div.conten div.tab {width:14.285%;}
div.sheet-slider.n8 div.conten div.tab {width:12.5%;}
div.sheet-slider.n9 div.conten div.tab {width:11.111%;}
div.sheet-slider.n10 div.conten div.tab {width:10%;}
div.sheet-slider.n11 div.conten div.tab {width:9.090%;}
div.sheet-slider.n12 div.conten div.tab {width:8.333%;}

.slide:nth-child(1):checked ~ div.conten {margin-left:0;}
.slide:nth-child(2):checked ~ div.conten {margin-left:-100%;}
.slide:nth-child(3):checked ~ div.conten {margin-left:-200%;}
.slide:nth-child(4):checked ~ div.conten {margin-left:-300%;}
.slide:nth-child(5):checked ~ div.conten {margin-left:-400%;}
.slide:nth-child(6):checked ~ div.conten {margin-left:-500%;}
.slide:nth-child(7):checked ~ div.conten {margin-left:-600%;}
.slide:nth-child(8):checked ~ div.conten {margin-left:-700%;}
.slide:nth-child(9):checked ~ div.conten {margin-left:-800%;}
.slide:nth-child(10):checked ~ div.conten {margin-left:-900%;}
.slide:nth-child(11):checked ~ div.conten {margin-left:-1000%;}
.slide:nth-child(12):checked ~ div.conten {margin-left:-1100%;}


#s1:checked ~ div.conten div.tab:nth-child(1) .text, 
#s2:checked ~ div.conten div.tab:nth-child(2) .text, 
#s3:checked ~ div.conten div.tab:nth-child(3) .text, 
#s4:checked ~ div.conten div.tab:nth-child(4) .text, 
#s5:checked ~ div.conten div.tab:nth-child(5) .text, 
#s6:checked ~ div.conten div.tab:nth-child(6) .text, 
#s7:checked ~ div.conten div.tab:nth-child(7) .text, 
#s8:checked ~ div.conten div.tab:nth-child(8) .text, 
#s9:checked ~ div.conten div.tab:nth-child(9) .text, 
#s10:checked ~ div.conten div.tab:nth-child(10) .text, 
#s11:checked ~ div.conten div.tab:nth-child(11) .text, 
#s12:checked ~ div.conten div.tab:nth-child(12) .text{
    opacity: 1;
    padding-top: 30px;
}

#s1:checked ~ div.sh-btns label:nth-child(1), 
#s2:checked ~ div.sh-btns label:nth-child(2), 
#s3:checked ~ div.sh-btns label:nth-child(3), 
#s4:checked ~ div.sh-btns label:nth-child(4), 
#s5:checked ~ div.sh-btns label:nth-child(5), 
#s6:checked ~ div.sh-btns label:nth-child(6), 
#s7:checked ~ div.sh-btns label:nth-child(7), 
#s8:checked ~ div.sh-btns label:nth-child(8), 
#s9:checked ~ div.sh-btns label:nth-child(9), 
#s10:checked ~ div.sh-btns label:nth-child(10), 
#s11:checked ~ div.sh-btns label:nth-child(11), 
#s12:checked ~ div.sh-btns label:nth-child(12){
    background-color: #0ab4d8;
    box-shadow: 0 0 4px #1dc7eb;
}


#s1:checked ~ div.sh-arrows label:nth-child(2), 
#s2:checked ~ div.sh-arrows label:nth-child(3), 
#s3:checked ~ div.sh-arrows label:nth-child(4), 
#s4:checked ~ div.sh-arrows label:nth-child(5),
#s5:checked ~ div.sh-arrows label:nth-child(6),
#s6:checked ~ div.sh-arrows label:nth-child(7),
#s7:checked ~ div.sh-arrows label:nth-child(8),
#s8:checked ~ div.sh-arrows label:nth-child(9),
#s9:checked ~ div.sh-arrows label:nth-child(10),
#s10:checked ~ div.sh-arrows label:nth-child(11),
#s11:checked ~ div.sh-arrows label:nth-child(12),
div.sheet-slider.n2 #s2:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n3 #s3:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n4 #s4:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n5 #s5:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n6 #s6:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n7 #s7:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n8 #s8:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n9 #s9:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n10 #s10:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n11 #s11:checked ~ div.sh-arrows label:nth-child(1),
div.sheet-slider.n12 #s12:checked ~ div.sh-arrows label:nth-child(1) {
    background-position: -42px 13px;
    display: block;
    float: right;
    padding-left: 2px;
}

div.sheet-slider.n2 #s1:checked ~ div.sh-arrows label:nth-child(2),
div.sheet-slider.n3 #s1:checked ~ div.sh-arrows label:nth-child(3),
div.sheet-slider.n4 #s1:checked ~ div.sh-arrows label:nth-child(4),
div.sheet-slider.n5 #s1:checked ~ div.sh-arrows label:nth-child(5),
div.sheet-slider.n6 #s1:checked ~ div.sh-arrows label:nth-child(6),
div.sheet-slider.n7 #s1:checked ~ div.sh-arrows label:nth-child(7),
div.sheet-slider.n8 #s1:checked ~ div.sh-arrows label:nth-child(8),
div.sheet-slider.n9 #s1:checked ~ div.sh-arrows label:nth-child(9),
div.sheet-slider.n10 #s1:checked ~ div.sh-arrows label:nth-child(10),
div.sheet-slider.n11 #s1:checked ~ div.sh-arrows label:nth-child(11),
div.sheet-slider.n12 #s1:checked ~ div.sh-arrows label:nth-child(12), 
#s2:checked ~ div.sh-arrows label:nth-child(1), 
#s3:checked ~ div.sh-arrows label:nth-child(2), 
#s4:checked ~ div.sh-arrows label:nth-child(3),
#s5:checked ~ div.sh-arrows label:nth-child(4),
#s6:checked ~ div.sh-arrows label:nth-child(5),
#s7:checked ~ div.sh-arrows label:nth-child(6),
#s8:checked ~ div.sh-arrows label:nth-child(7),
#s9:checked ~ div.sh-arrows label:nth-child(8),
#s10:checked ~ div.sh-arrows label:nth-child(9),
#s11:checked ~ div.sh-arrows label:nth-child(10),
#s12:checked ~ div.sh-arrows label:nth-child(11) {
    background-position: 15px 13px;
    display: block;
    float: left;
}

div.sheet-slider .sh-arrows {
    height: 50px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 16%;
    z-index: 1;
}
div.sheet-slider .sh-arrows label {
    background-clip: content-box;
    background-color: #fff;
    background-origin: content-box;
    background-image: url("../img/resource/arrows.png");
    background-repeat: no-repeat;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    display: none;
    height: 40px;
    opacity: 0.54;
    position: relative;
    width: 40px;
}
div.sheet-slider .sh-arrows label:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 800px) {
div.sheet-slider {font-size: 15.5px;}
}
@media only screen and (max-width: 700px) {
div.sheet-slider {font-size: 13px;}
div.sheet-slider .sh-arrows {top: 0;}
div.sheet-slider .sh-btns {width: 100%;}
div.sheet-slider .text {max-width: 400px;}
}
@media only screen and (max-width: 600px) {
div.sheet-slider div.tab .text {padding-left: 30px;top: -8px;}
}
@media only screen and (max-width: 500px) {
div.sheet-slider {font-size: 11px;}
div.sheet-slider .text > span {opacity: 0;}
div.sheet-slider .text {max-width: 300px;}
}
@media only screen and (max-width: 460px) {
div.sheet-slider .text > h3{opacity:0 !important; padding-top: 30px!important;}
}