ul.publication-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.publication-list .publication-resume {
	clear: both;
	margin: 2em 0;
}

.publication-list .publication-resume .item-image {
	display: block;
	float: left;
	width: 25%;
}

.publication-list .publication-resume .item-image img {
	padding: 1px;
	width: 98%;
	border: #CCC thin solid;
}

.publication-list .publication-resume .item-content {
	margin-left: 25%;
}

.publication-list .publication-resume .item-content h5 {
	display: block;
	position: relative;
	left: -0.8em;
	line-height: 1.2em;
	margin: 0.7em 30px 1em 0;
	padding: 0.4em 0.8em;
	background-color: #514E4C;
	color: white;
	font-size: 1em;
	letter-spacing: 0.1em;
}

.publication-list .publication-resume .item-content .see-more {
	display: block;
	float: right;
	width: 25px;
	line-height: 1.4em;
	margin: 0;
	padding: 0.4em 0.8em;
	background-color: #4184AA;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.publication-list .publication-resume .item-content p {
	margin-left: 0.8em;
	color: black;
}

.publication-list a {
	display: block;
}

.publication-list a:hover {
	text-decoration: none !important;
}

.pagination-container {
	clear: both;
}

.more-publications {
	clear: both;
	text-align: right;
}

.category-publication-list {
	overflow: auto;
	margin: 2em auto;
}

.category-publication-list .outstanding-news .item img {
	max-height: 150px;
	margin-bottom: 5px;
}

.outstanding-news {
	/*float: right;*/
	margin-bottom: 20px;
/*	width: 100%;*/
}

.outstanding-news .item {
	width: 100%;
}

.outstanding-news .item img {
	display: block;
	margin: 0 auto 5px;
	padding: 2px;
	border: #CCC thin solid;
	max-width: 95%;
	max-height: 150px;
}

.outstanding-news .item-content h4 {
	display: block;
	position: relative;
	line-height: 1.4em;
	padding: 0.4em 0.8em;
	background-color: #514E4C;
	color: white;
	font-size: 1.2em;
	/*letter-spacing: 0.1em;*/
}

.outstanding-news .item-content h4 > a {
	color: inherit;
}

.outstanding-news .item-content .see-more {
	display: block;
	float: right;
	width: 25px;
	line-height: 1.4em;
	margin: 0;
	padding: 0.4em 0.8em;
	background-color: #4184AA;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.news-category-list .item {
	margin: 1em 0 0;
	overflow: auto;
}

.news-category-list .item img {
	float: left;
	padding: 1px;
	border: #CCC thin solid;
	width: 50%;
}

.news-category-list .item-content {
	margin-left: 52%;
}

.news-category-list .item-content h4 {
	display: block;
	position: relative;
	left: -0.8em;
	line-height: 1.2em;
	margin: 0.7em 30px 1em 0;
	padding: 0.4em 0.8em;
	background-color: #514E4C;
	color: white;
	font-size: 1em;
	letter-spacing: 0.1em;
}

.news-category-list .item-content .see-more {
	display: block;
	float: right;
	width: 25px;
	line-height: 1.4em;
	margin: 0;
	padding: 0.4em 0.8em;
	background-color: #4184AA;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.news-category-list .item-content h4 > a {
	color: inherit;
}

.news-category-list .item-content p {
}