*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font-family:arial;
}
body{background:url(img/background.png)#FF9000}
h1{
  color:white;
  text-align:center;
  font-faimly:icon;
}

@keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-ms-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-moz-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-webkit-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
.cuerpo{
  width:470px;
  min-width: 470px;
  max-width: 470px;
  padding:40px 30px;
 background-color: rgba(0, 0, 0, 0.5);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:50px auto;
  margin-top: -41px;

}
.imagen{
width:600px;
  min-width: 600px;
  max-width: 600px;
  padding:40px 30px;
 margin-bottom: 1px;

  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:5px auto;
  margin-top: -51px;
}
.cuerpo p{
color: rgba(0, 200, 203, 1);;
font-family: sans-serif;
 text-align: center;
 font-size: 22px;
 margin-top: -25px;

}

.Textbox{
width:200px;
  height:30px;
  border: none;
  padding:5px 7px 5px 15px;
  background:#fff;
  color:#666;
  border:1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.6);
  
}

.Textbox:focus, .Textbox:focus + .fa{
  border:2px solid rgba(0, 103, 151, 0.6);
   box-shadow: 0px 0px 0px 0.5px rgba(0, 103, 151, 0.6);
}
.Textbox:hover{
 border:2px solid rgba(0, 103, 151, 0.6);
box-shadow: 0px 0px 0px 0.5px rgba(0, 103, 151, 0.6);
}
.log-status.wrong-entry .Textbox, .wrong-entry .Textbox + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}
.select
  {
    width:200px;
  height:30px;
  border: 1px solid #DBE1EB;
  font-size: 14px;
  font-family: sans-serif, sans-serif;
  padding:5px 7px 5px 15px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  color: black;
   background-color: rgba(255, 255, 255, 0.6);
  }
  .select:hover{
    border:2px solid rgba(0, 103, 151, 0.6);
   box-shadow: 0px 0px 0px 0.5px rgba(0, 103, 151, 0.6);
  }
  .etiqueta{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    color: rgba(255, 255, 255, 0.8);
  }
  .Acep-btn{
  background:rgba(7, 162, 175, 0.7);
  dispaly:inline-block;
  width:200px;
  font-size:16px;
  height:50px;
  color:#fff;
  text-decoration:none;
  border:none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
.Acep-btn:hover{

  background-color: rgba(7, 162, 175, 0.9);
}