
#header {
    margin: 20px 40px;
    clear: both;
}
#backTutorial, #backDemos {
    display: inline-block;
    padding: 10px 30px;
    width: auto;
    font: 14px Tahoma, Geneva, sans-serif;
    text-decoration: none;
    color: #ea5349;
    background: #720e07;
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    box-shadow: 1px 1px 0 #d84e45;
    -webkit-box-shadow: 1px 1px 0 #d84e45;
    -moz-box-shadow: 1px 1px 0 #d84e45;
}
#backTutorial { float: left; }
#backDemos { float: right; }
#backTutorial:hover, #backDemos:hover{color:#FFFFFF;}


#contenedor {
    margin: 0px auto;
    width: auto;
    /* [disabled]background: #333333; */
    text-align: center;
    clear: both;
    
}

#contenedor h1 {
    font: sans-serif normal 36px Georgia, "sans-serif", Times, serif;
    color: #510500;
    margin-top: 40px;
    margin-bottom: 50px;
    text-shadow:1px 1px 0 #ce4239;
    -moz-text-shadow:1px 1px 0 #ce4239;
    -webkit-text-shadow:1px 1px 0 #ce4239;
}


#contenedor ul {
    text-align: left;
    width: 100%;
    background: #252525;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    border: 3px solid #1d1d1d;
    list-style: none;
    position: relative;
    float:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#contenedor ul li {
    display: block;
    float:left;
    position: relative;
}
#contenedor ul li#buscador {
    float: left;
    position: relative;
}
#contenedor ul li a {/*Listas primer nivel*/
    font: normal 14px verdana, Geneva, verdana;
    color: #fefefe;
    text-decoration: none;
    display: block;
    float:left;
    padding: 13px;
    font-weight: 300;
}
#contenedor ul li a:hover, #contenedor ul li a.active {/*Estado Hover/Activo de los enlaces*/
    background: #017f7f;
    color: #fefefe;
    font-weight: normal;
    border-top-left-radius: 6px 6px;
    border-bottom-left-radius: 6px 6px;
    border-top-right-radius:6px 6px;
    border-bottom-right-radius:6px 6px;
    z-index: 2;
}
#contenedor ul li ul {/*Estilos de la lista secundaria*/
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 0;
    float: left;
    position: absolute;
    left: 0px;
    top: 43px;
    border: 0;
    opacity: 0;
    filter: alpha(opacity=0); /* Internet Explorer*/
    overflow: hidden;
    background: #1D1D1D;
    z-index: 2;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

}
#contenedor ul li ul.children li a{
    color: #fefefe !important;
    padding: 13px 0 13px 20px;
    width: 140px;
    border-bottom: 1px solid #2f2f2f;
    background: url(img/arrow-normal.png) no-repeat 7px center !important;
    font-size: 12px;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
#contenedor ul li ul li:last-child a{border-bottom:none !important;}
#contenedor ul li ul li a:hover{
    color: #fefefe !important;
    font-weight: normal;
    padding-left:28px;
    background: url(img/arrow.png) no-repeat 15px center !important;
z-index: 2;
}


#contenedor ul li:hover ul.children{height:auto;opacity:2;}

#contenedor ul#menu:after {
    /* Posiciona la sobora por detras del color de la caja*/
    z-index: -1;
    position: absolute;
    /* no aplico ningún contenidos HTML */
    content: "";
    /* posiciona la sombra con respecto al derecho y superior */
    right: 10px;
    top: 38%;
    /* configura el ancho */
    width: 48%;
    height: 20px;
    /* color de fondo */
    background: #000000;
    /* definicion de la sombra estandar para box-shadow */
    box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
    /* rotacion de la sombra */
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}
#contenedor ul#menu:before{
    /* Posiciona la sobora por detras del color de la caja*/
    z-index: -1;
    position: absolute;
    /* no aplico ningún contenidos HTML */
    content: "";
    /* posiciona la sombra con respecto al izquierdo y superior */
    left: 10px;
    top: 38%;
    /* configura el ancho */
    width: 50%;
    height: 20px;
    /* color de fondo */
    background: #000000;
    /* definicion de la sombra estandar para box-shadow */
    box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
    /* rotacion de la sombra */
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
#contenedor ul li ul#menu:before,#contenedor ul li ul#menu:after{visibility:hidden;}
.contariner2{z-index: 1;

}
.contairner_menu{z-index: 2;
    width: 100%;
padding-bottom: 10px;

}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 15px;
  z-index: 1;
  
}

.container h1{
font-size: 30px;
font-style:italic;
font-weight:bold;
text-align:left;
}

.container h2{
font-size: 20px;
font-weight:bold;
text-align:left;
margin-left:2%;
}

.li{
    font-size:15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin:0 auto;
}

.noticias{
display: table-cell;
vertical-align:middle;
width:200px;
margin-bottom:0;
position:relative;
height:auto;
text-align:justify;
padding-left:10px;
padding-right:10px;
}

::-webkit-scrollbar { 
    display: none; 
}

.noticias h5 {
font-size: 20px;
font-style:italic;
font-weight:bold;
text-align:left;

}

.noticias-fila{
display: table-row;
height:250px;
width:auto;
}

.container_centrado{
display: table;
position:relative;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 15px;
  z-index: 1;
text-align:center;
width: 100%;
height: 250px;
font-family: sans-serif;
font-size: 15px;
color: black;
border-radius: 15px;

}

.horarios{
position:relative;
text-align:justify;
width: auto;
height: 250px;
font-family: sans-serif;
font-size: 15px;
background-color:   #fff;
color: black;
border-radius: 15px;
padding: 5px;
border-style: solid;
border-color:   #bbbbbb;
border-width: 2px;
}

.video-container {
    position: relative;
    margin-top:20px;
    margin-bottom:0;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom:0;
    width: 100%;
    height: 100%;
}

.horarios-tabla{
display: table;
position:relative;
text-align:center;
vertical-align:middle;
width: 100%;
height: 250px;
font-family: sans-serif;
font-size: 15px;
background-color:   #fff;
color: black;
border-radius: 15px;
padding: 5px;
border-style: solid;
border-color:   #bbbbbb;
border-width: 2px;
}
.horarios-fila{
display: table-row;
height:250px;
vertical-align:middle;
}
.horarios-columna{
display: table-cell;
vertical-align:middle;
width:250px;
margin-bottom:0;
position:relative;
height:auto;

}
.horarios-columna h5{
font-size: 20px;
font-style:italic;
font-weight:bold;
text-align:center;
}

.horarios-tabla:hover{
    border-color: #63C8F9;
    box-shadow: 0px 0px 02px 1px #63C8F9;
  
}

.form_contacto{
    float:left;
    position:relative;
    width:100%;
    text-align:justify;
}

.tabla_fechas {
	margin:0 auto;padding:0px;
	width:50%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.tabla_fechas table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tabla_fechas tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.tabla_fechas table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.tabla_fechas table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.tabla_fechas tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.tabla_fechas tr:hover td{
	
}
.tabla_fechas tr:nth-child(odd){ background-color:#b2b2b2; }
.tabla_fechas tr:nth-child(even)    { background-color:#ffffff; }.tabla_fechas td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:9px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tabla_fechas tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabla_fechas tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabla_fechas tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabla_fechas tr:first-child td{
		background:-o-linear-gradient(bottom, #666666 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #666666 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#000000");	background: -o-linear-gradient(top,#666666,000000);

	background-color:#666666;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tabla_fechas tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #666666 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #666666 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#000000");	background: -o-linear-gradient(top,#666666,000000);

	background-color:#666666;
}
.tabla_fechas tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabla_fechas tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


