
* {
	margin: 0;
	padding: 0;
}
body {
    background: #e2e1e1;
    background-image: url('../Img/background.png');
    font-family: Sans-Serif;
}
.caja-redes {
    margin: 0 auto;
    
    position: relative;
    width: 400px;

}
.caja-redes a {

	text-align: center;
	font-size: 20px;

}
.icon-boton {
	background-color: white;
	border-radius: 3em;
	cursor: pointer;
	display: inline-block;
	height: 3em;
	line-height: 4em;
	margin: 0 10px;
	position: relative;
	width: 3em;
    font-size:20px;
}
.icon-boton span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 0;
    
}
.icon-boton:hover span {
	width: 3em;
	height: 3em;
	border-radius: 3em;
	margin: -1.5em;
}
.linkedin span {
	background-color: #4393BB;
}
.pinterest span {
	background-color: #C92228;
}
.twitter span {
	background-color: #4099ff;
}
.youtube span {
	background-color: #e52d27;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}
/* Iconos */
.icon-boton i {
	background: none;
	color:white;
	left: 0;
	line-height: 3em;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 3em;
	z-index: 2;
    font-size:20px;
}
.icon-boton .icon-linkedin {
	color: #4393BB;
}
.icon-boton .icon-pinterest {
	color: #C92228;
}
.icon-boton .fa-twitter {
	color: #4099ff;
}
.icon-boton .fa-youtube {
	color: #e52d27;
}
.icon-boton .fa-facebook {
	color: #3B5998;
}
.icon-boton .icon-google-plus {
	color: #db5a3c;
}
.icon-boton:hover .icon-linkedin, .icon-boton:hover .icon-pinterest, .icon-boton:hover .fa-twitter, .icon-boton:hover .fa-facebook, .icon-boton:hover .icon-google-plus,.icon-boton:hover .fa-youtube {
	color: white;
}